{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <h2> Здравствуйте! Меня зовут Павел, и на данный момент я нахожусь на увлекательном пути, который соединяет две,
        казалось бы, крайне различающиеся области: юриспруденцию и программирование. Я завершил обучение на юридическом
        факультете, где приобрел не только глубокие знания в области права, но и развил навыки критического мышления и
        решения комплексных задач. Эти навыки, как я убедился, становятся очень полезными в сфере технологий.

        Сейчас я осваиваю программирование, так как верю в огромное влияние технологий на трансформацию юридической
        профессии. Меня интересует, как современные программные решения могут улучшить доступ к правосудию,
        автоматизировать рутинные процессы и сделать юридические услуги более доступными для всех. Я увлекаюсь
        веб-разработкой и изучаю языки программирования, такие как Python, с целью создания практичных
        приложений и инструментов, которые способны упростить жизнь людям.

        Кроме кодирования, мне нравится читать книги о пересечении права и технологий, а также заниматься
        самообразованием.

        Надеюсь, в будущем мне удастся соединить мои знания в области права и программирования. Я всегда рад познакомиться с единомышленниками и поделиться
        своим опытом!
    </h2>
</div>
{% endblock %}